{% extends 'core/base.html' %}
{% load static %}
{% block title %}Inicio{% endblock %}

{% block content %}
		<!-- Cabecera -->
		<section class="page-section clearfix">
			<div class="container">
				<div class="intro">
					<img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'core/img/animation.gif' %}" alt="Animación" style="width: 500px; height: auto;">
					<div class="intro-text left-0 text-center bg-faded p-5 rounded">
						<h2 class="section-heading mb-4">
							<span class="section-heading-upper">Déjate sorprender</span>
							<span class="section-heading-lower">Te gustará</span>
						</h2>
						<p class="mb-3">Trabajamos solo con los mejores ingredientes. Una vez pruebes nuestras hamburguesas, ¡serán el plato perfecto para disfrutar en cualquier momento del día!
						</p>
						</p>
						<div class="intro-button mx-auto">
							<a href="{% url 'store' %}" class="btn btn-primary">Carta</a>
						</div>
					</div>
				</div>
			</div>
		</section>

		<!-- Mensaje -->
		<section class="page-section cta">
			<div class="container">
				<div class="row">
					<div class="col-xl-9 mx-auto">
						<div class="cta-inner text-center rounded">
							<h2 class="section-heading mb-4">
								<span class="section-heading-upper">Compromiso total</span>
								<span class="section-heading-lower">Garantizado</span>
							</h2>
							<p class="mb-0">En nuestra hamburguesería, nos dedicamos a ofrecerte la mejor experiencia gastronómica, utilizando solo ingredientes frescos y de alta calidad. Cada una de nuestras hamburguesas es preparada con esmero y pasión, buscando siempre resaltar los sabores auténticos y la creatividad en cada combinación. Nos comprometemos a que cada bocado sea una explosión de sabor, asegurándonos de que cada cliente se sienta satisfecho y quiera volver una y otra vez.</p>
						</div>
					</div>
				</div>
			</div>
		</section>
{% endblock %}
