{% extends 'core/base.html' %}
{% load static %}

{% block title %}Carta{% endblock %}

{% block content %}
<!-- Cabecera -->
<section class="page-section clearfix">
    <div class="container">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
            <h2 class="section-heading mb-4">
                <span class="section-heading-upper">Nuestra</span>
                <span class="section-heading-lower">Carta</span>
            </h2>
            <p class="mb-3">Consulta nuestra carta directamente aquí y descubre los deliciosos platos y bebidas que ofrecemos.</p>
        </div>
    </div>
</section>

<!-- Contenedor para las páginas del PDF -->
<div id="pdf-container" style="width: 100%; display: flex; flex-direction: column; align-items: center;"></div>

<!-- Cargar PDF.js desde el CDN -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.14.305/pdf.min.js"></script>

<script>
    const url = "{% static 'core/pdfs/MENU BRUTAL B.pdf' %}";
    const scale = 1.5; // Escala de visualización
    const pdfContainer = document.getElementById('pdf-container');

    // Cargar el PDF usando PDF.js
    pdfjsLib.getDocument(url).promise.then(function(pdf) {
        console.log("PDF cargado");

        // Función para renderizar todas las páginas del PDF
        function renderPages() {
            for (let pageNum = 1; pageNum <= pdf.numPages; pageNum++) {
                renderPage(pageNum);
            }
        }

        // Función para renderizar una página específica
        function renderPage(pageNum) {
            pdf.getPage(pageNum).then(function(page) {
                const viewport = page.getViewport({ scale: scale });
                const canvas = document.createElement("canvas");
                const context = canvas.getContext("2d");
                canvas.height = viewport.height;
                canvas.width = viewport.width;

                // Renderizar la página en el canvas
                page.render({
                    canvasContext: context,
                    viewport: viewport
                });

                // Añadir el canvas al contenedor
                pdfContainer.appendChild(canvas);
            });
        }

        // Renderizar todas las páginas
        renderPages();
    });
</script>

{% endblock %}


